Source: ros-noetic-fadecandy-driver
Section: misc
Priority: optional
Maintainer: Rein Appeldoorn <reinzor@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libusb-1.0-0-dev, ros-noetic-catkin, ros-noetic-diagnostic-updater, ros-noetic-fadecandy-msgs, ros-noetic-roscpp, ros-noetic-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-fadecandy-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0-dev, ros-noetic-diagnostic-updater, ros-noetic-fadecandy-msgs, ros-noetic-roscpp
Description: ROS driver for fadecandy LED controllers
